.Header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: space-between;
    margin-bottom: 25px;
    padding-top: 40px;

    &-title {
        width: 80%;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 140%;
        color: #2d3748;
    }

    &-search {
        width: 50%;
        float: right;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 150%;
        color: #718096;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin: 0;
        svg {
            padding-bottom: 1px;
            margin-right: 10px;
        }
    }

    &-input {
        background: #ffffff;
        border: 0.5px solid #e2e8f0;
        box-sizing: border-box;
        border-radius: 15px;
        padding: 10px 10px 10px 40px;
        outline: none;
    }

    .search-icon {
        position: relative;
        right: -60px;
    }
}
