.Sidebar {
    width: 20%;
    margin-right: 25px;
    padding-top: 40px;

    &-title {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 150%;
            display: flex;
            align-items: center;
            color: #2d3748;
            margin-left: 20px;
            font-weight: 700;
        }
    }
}
